.eze-login-container{
    height: 100%;
}

.eze-login-banner{
    background-image: url(../images/Calendar.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.eze-logo{
    margin-top: 12%;
    margin-left: 5%;
}
.eze-login{
    width: 50%;
}
.no-padding{
    padding:0px !important;
}
.eze-login-li{
    width: 50%;
    text-align: center;
}
.eze-signin-panel{
    height:100%;
}
.eze-signin-panel ul>li.active>a{
    border-radius:0px;
} 

.eze-login-panel{
    padding: 10% 0;
}
.eze-register-panel{
    padding: 10% 0;
    height: inherit;
}
.eze-signin-with{
    text-align: center;
    color:#8d8f91;
    margin-bottom: 5%;
}
.eze-login-hr{
    border:0px;
    border-top: 1px solid #eee;
    display: inline-block;
    width: 38%;
    border-color: #bdbdbd;
    margin: 0px;
    filter:none;
}
.divider{
    padding: 10% 15%;
}
.divider span{
  position: relative;
  font-size: 13px;
  top:3px;
  width: 40px;
  margin: 0px 15px;
  color: #bdbdbd;
}
.eze-login-input{
    border: none;
    width: 100%;
}
.eze-login-input:focus{
    outline: none;
}

.eze-login-btn{
    width: 70%;
    margin: 20% 0;
}
.eze-register-btn{
    width: 70%;
    margin: 10% 0;
    margin-bottom: 10% !important;
}
.login-input{
    border-bottom: 1px solid #bdbdbd;
    width:90%;
    margin-bottom: 20px;
    margin-left:5% !important;
    padding-bottom:10px;
}