.arrow_box {
    position: relative;
    background: #fff;
    padding:15px;
    margin: 15px;
    border-radius:4px;
    width:400px;
        z-index: 10;
    font-size: 12px;
}
.arrow_box:after, .arrow_box:before {
    bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fff;
	border-width: 15px;
	margin-left: -30px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #fff;
	border-width: 15px;
	margin-left: -30px;
}

.eze-editMeeting-label{
    opacity: 0.5 !important;
    font-size: 10px;
}

.eze-editMeeting-popup-header{
    margin-bottom: 10px;
}

.eze-editMeeting-crossbutton{
    border: none;
    background: none;
    font-size: 30px;
    margin:0px;
    padding:0px;
    line-height: 15px;
}

.eze-editMeeting-crossbutton:focus{
    outline: none;
}

.eze-editMeeting-name{
    border:none;
    width: 100%;
}
.eze-editMeeting-name:hover{
    background: #f7f7f7;
}

.eze-editMeeting-name:focus{
    outline: none;
    border: 1px solid #ccc;
}

.eze-editMeeting-popup-footer{
    margin-top: 15px;
}

.eze-editMeeting-btn{
    font-size: 12px !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: none;
    padding: 3px 6px;
}

#pointer{

    border-bottom: solid 10px #fff;
    border-left:solid 8px transparent;
    border-right:solid 8px transparent;
    position: absolute;
    width: 0;
    height: 0;
    top:-10px;
    left:20px;
    z-index: 10;


}