.eze-home-container{
    height: 100%;
    width: 100%;
    display: table;
}
.eze-side-menu{
    height: 100%;
    width: 70px;
    background-color: #07c1e4;
    display: table-cell;
}
.eze-section-container{
    display: table-cell;
    height: 100%;
}
.eze-menu-logo{
    width: 80%;
    margin-top: 10%;
    margin-bottom: 35%;
}
.eze-section-header{
    border-bottom: 1px solid #ccc;
    height: 60px;
}
.eze-create-meeting-btn{
    margin-top: 14px;
    margin-right: 5px;
}
.eze-header-dp{
    padding:10px !important;
}

.nav-tabs>.active>.eze-side-list, .nav-tabs>.active>.eze-side-list:hover, .nav-tabs>.active>.eze-side-list:focus {
    color: #fff;
    background-color: #96ceff !important;
}
.eze-side-list:hover{
    background-color: #96ceff !important;
}
