/* DayPicker styles */
label{
    color:dimgray;
    font-size: 12px;
    font-weight: 100;
}
.team-name-btn{
    width:100%;
}
.draglogo{
    background-color:#f8f8f8;
    text-align: center;
    padding:10%;
    margin-bottom: 5%;
	box-shadow:0px 0px 10px 5px #ccc inset;
}
.genFile{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.genlabelfile{
    color:dodgerblue;
    cursor: pointer;
    margin-top: 0px;
}
.genimg{
    height: 6vh;
    width: 100%;
    border-radius: 50%;
}
.genm{
    padding-top:5%;
}
.tmlist{
    margin-top: 2.7%;
    margin-right: 3%;
}
.tmlistr{
    margin-left: 1%;
    margin-top: 2.7%;
    white-space: nowrap;
}
.gen-mod-b{
    background-color: cadetblue;
    padding:3%;
    color: #fff;
    border-radius: 4px;
}
.genRecipients{
    margin:5% 3%;
}
.genhr{
    margin:0px;
}
.geninviteform{
    background-color: #f8f8f8;
    padding:3%;
    border-radius: 4px;
}
.genformem{
    margin-top: 0px;
}
.genformno{
    margin-top: 3%;
}
.genp{
    color: dodgerblue;
    cursor: pointer;
}