

.notptxt{
	color:#999;
}
hr{
	border-top: 1px solid #ccc;
	display: inline-block;
	width: 92%;
	border-color: #bdbdbd;
	margin-left:4%;
}
.notbtn{
	width:95%;
	margin-top:13px;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Styling checkbox */
  width: 0px;
  height: 0px;
  background-color: #07c1e4);
}

input[type="checkbox"]:checked {
  /*background-color: yellow;*/
}
input[type="checkbox"]:after{
	height: 20px;
	width:20px;
	content: '';
	display:block;
	border:1px solid #333;
	border-radius: 2px;
}
input[type="checkbox"]:focus{
	outline:none;
}
input[type="checkbox"]:checked:focus{
	outline:none;
}
input[type="checkbox"]:checked:after{
	background-image: url(../images/green-tick.png);
	border:none;
}
@media screen and (max-width: 710px) {
}