.simg{
	width:100%;
	height:10%;
	border-radius:50%;
}
.changedp{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.chngDp{
	padding-left:15%;
	padding-top:10%;
	font-size:100%;
}
label{
	color:#ccc;
	font-size:11px;
}

.saveBtn{
	width:100%;
}