@import '../../Main.css';
.config-box{
    background-color:#fff;
    box-shadow:5px 5px 10px #ccc !important;
    min-width:400px;
    border-radius:4px;
    margin:50px 25% 50px 25%;
    padding:10px;
    border: 1px solid #ccc;
}
.eze-selected-members{
    min-height:40px;
    overflow-y: auto;
    max-height: 80px;
    border: none !important;
    margin: 2.5%;
}
.eze-product-Manual{
   width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.eze-members-list-container{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.eze-members-list{
    float: left;
    margin: 5px;
    padding: 4px;
    background-color: #e9e9e9 ;
    border-radius: 2px;
    font-size: 14px;
    color: gray;
}
.eze-list-cross{
    padding-left: 5px;
    color: var(--darkcolor);
    width: 50px;
    cursor: pointer;
    font-size: 16px;
}

.eze-search-box{
    width: 95%;
    border: none;
    border-bottom: 1px solid grey;
    padding:10px;
    font-size: 20px;
    margin: 0 2.5% 2.5% 2.5%;
}

.eze-search-box:focus{
    outline: none;
}

.eze-add-member-input{
    margin:10% 0px;
}

.eze-product-description{
    max-width: 100%;
}
.eze-Create-workingDays{
    height:135px !important;
}

.eze-config-container{
    background-color: #fff;
    border-radius: 10px;
    margin-top: 10%;
    margin-bottom: 0px;
}

.footer-buttons>.btn, .footer-buttons>.btn:focus{
    margin-right: auto !important;
    margin-left: auto !important;
    color: #fff !important;
    background-color: var(--darkcolor) !important;
    border-color: var(--darkcolor) !important;
    outline: none;
}

.footer-buttons>.btn:hover{
    color: var(--darkcolor) !important;
    background-color: #fff !important;
    border-color: var(--darkcolor) !important;
}
.eze-product-name{
    margin-top: 37%;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 20px;
    margin-left:5%;
    padding: 10px;
}

.eze-config-label{
    opacity:0.6 !important;
    font-size: 11px;
}