@import '../../Main.css';
ol.progtrckr li.progtrckr-doing::before{
    background-color: var(--darkcolor);
    width: 2.2em;
    line-height: 2.2em;
}
ol.progtrckr li.progtrckr-todo::before{
    background-color: silver;
    width: 2.2em;
    line-height: 2.2em;
    border-radius: 1.2em;

}
ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 5.2rem;
    cursor: pointer;
}

ol.progtrckr li.progtrckr-done::before {
    content: "\2713";
    color: white;
    background-color: #5cb85c;
    width: 2.2em;
    line-height: 2.2em;
    border-radius: 1.2em;
}

.multi-step>.progtrckr>li{
    width: 25%;
}