
html, #react-app {
	height: 100%;
}

@font-face{
  font-family: 'open-sans';
  src: url('/fonts/OpenSans.eot'); /* IE9 Compat Modes */
  src: url('/fonts/OpenSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/OpenSans.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/OpenSans.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/OpenSans.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/OpenSans.svg#svgFontName') format('svg'); /* Legacy iOS */
}
body{
  background-color: #fff;
  font-family: open-sans ,sans-serif;
  font-size: 15px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  }
.no-padding{
  padding: 15px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    opacity: 0.5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   opacity: 0.5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   opacity: 0.5;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   opacity: 0.5;
}
::-ms-input-placeholder { /* Microsoft Edge */
   opacity: 0.5;
}